.git
.env
.env.*
node_modules/
vendor/
public/build/
public/hot
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
tests/
phpunit.xml
npm-debug.log
yarn-error.log
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
